*{
    margin: 0;padding: 0;text-decoration: none;
}
a{
    color: #CED4DA;
    padding: 0px ;
}
.myCv{
    width: 1200px;
    padding: 0 16px 16px 16px;
    background-color: #212529;
    /* height: 2423px; */
    /* height: 2000px; */
    /* border: 1px solid #000; */

}
/* .main{
    
} */
.center{
    background-color: #CED4DA;
    /* background-color: aqua; */
    width: 100%;
    /* height: 300px; */
    /* min-width: 1080px; */
    /* max-width: 100vh; */
    display: flex;
    justify-content: center;
}
.nav a:hover{
    color: #E9ECEF;
}
.user a{
    font-size: 32px;
    padding: 10px 10px;
    height: 100%;
    font-weight: 900;
}
.header-border-radius{
    background-color: #000;
}
.header{
    border-radius: 20px;
    width: 100%;
    /* width: 800px; */
    /* position: fixed; */
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color:  #212529;
    font-size: 20px;
    align-items: center;
    /* border-bottom-left-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}
.border-other{
    /* position: fixed; */
    background-color: #cdf1ff;
    width: 1008px;
    height: 50px;
    top: 50px;
        border-bottom-left-radius: 20px #cdf1ff;
    border-bottom-right-radius: 20px red;
}
.border-other-1{
    opacity: 0;    width: 1008px;
    height: 50px;

}
.nav a{
    font-size: 32px;
    font-weight: 700;
    padding: 0 15px;
}
.button-contact{
    font-size: 32px;
    font-weight: 700;
    border:none;
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #CED4DA;
}
.button-contact:hover {
    display: none;
    animation-name: hover-contact;
    background-color: #ccc;
    color: #fff;
    animation-duration: 0.75s;
}
@keyframes hover-contact{
    0% {background-color: #CED4DA; }
    100% {background-color: #000;padding: 0 30px;}
}
.content{
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    
}
.banner{
    background-color: #CED4DA;
    border-radius: 20px;
    /* height: 500px; */
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-user{
}
.img-user img{
    height: 500px;
    animation-name: toDown;
    animation-duration: 1s;
    margin-bottom: -5px;
    
}
.img-user img:hover{

}
@keyframes toDown{
    from{top: -100px;}
    to{top:0px}
}
#introduction{
    background-color: red;
    background-color: #fff;
    border-radius: 20px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    display: flex;
}
.left-intro{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    background-color: #CED4DA;
    /* border-radius: 20px; */
    border-right: 1px solid #000;
}
.left-intro img{
    mask-repeat: no-repeat;
    width: 500px;
    border-bottom-left-radius: 20px;


}
.right-intro{
    padding:16px 0 0 0px;
    display: flex;
    flex-direction: column;
    background-color: #CED4DA;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}

.introduce a1{
    color: #212529;
    font-size: 48px;
    display: block;
    padding-left: 16px;
    font-weight: 800;
}
.introduce a2{
    color: #212529;
    font-size: 32px;
    display: block;
    padding-left: 32px;
    font-weight: 500;
}
.user-name{
    /* width: 500px; */
    padding-left: 64px;
}
.user-name a{
    width: auto;
    font-size: 30px;
    
}
.box-achieve{
    display: flex;
    padding-left: 64px;
}
.achieve{
    margin-left: 12px;
    padding: 10px;
    background-color: #71d9ff;
    border-radius: 12px;
}
.achieve-1{
    margin: 0;
}
.achievement{
    padding-left: 32px;
}
#Projects{
    background-color: #CED4DA;
    border-radius: 20px;
    /* height: 400px; */
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 32px;
    margin-top: 8px;
}
#Projects a{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.project{
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    /* padding-left: 96px; */
    /* background-color: #EEEEEE; */
    /* border-bottom: 2px solid rgb(173, 173, 173); */
    display: flex;
    /* border:1px solid #003140; */
    justify-content:space-between;
}
.project-1{
    /* border-top: 2px solid rgb(173, 173, 173); */
}
.project a{
    font-size: 20px;
}
.project .info{
    height: 208px;
}
.project .info-pj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-pj{
    width: 300px;
}
.info-pj a{
    padding-left: 0;
    /* padding-top: 16px; */
    font-weight: 600 !important;
    color: #212529 !important;
    font-size: 30px;
}
.info-pj .user-by{
    margin: 20px 0;
    display: flex;
    padding: 0px;
}
.info-pj .user-by1{
    padding-right: 10px;
    background-color: #71d9ff;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
}
.info-pj .user-by2{
    margin-left: 12px;
    padding-right: 10px;
    background-color: #71d9ff;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
}
.info-pj .user-by3{
    margin-left: 12px;
    padding-right: 10px;
    background-color: #71d9ff;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
}

.info .view a{
    margin-left: 0px;
    padding: 5px 10px;
    border-radius: 12px;

    background-color: #00abdf;
}
.info .view a:hover{
    animation-name: hover-view;
    padding: 3px 8px;
    border: #cdf1ff solid 5px;
}
.project .view-pj{
    width: 338.88px;
}
.project .view-pj img{
    margin: 10px;
    height:  180px;
    border-radius: 20px;
    border: #000 solid 2px;
}
#Contact-information{
    background-color: #fff;
    border-radius: 20px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right:  1px solid #000;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    display: flex;
    left: 0;
    position: relative;
    padding-bottom: 32px;

}
#Contact-information a{
    font-size: 30px;
}
#Contact-information h1{
    font-size: 20px;
    padding-top: 24px;
    font-weight: normal;
}
.typeOfContact{
    padding-top: 16px;
    display: flex;
    padding-left: 32px;
}
.con{
    padding: 5px 10px;
}
.con a{
    font-size: 20px !important;
    padding-left: 8px;

}
.con{
    background-color: #cdf1ff;
    border-radius: 12px;
    margin-left: 8px;
}
.Contact-fb{
    margin-left: 0;
}
.click-contact{
    background-color: #71d9ff;
}
.link-Email{
    display: none;
}
.Contact-fb{
    background-color: #cdf1ff;
}
.Contact-email:hover ~ .link-fb{
    display: none;
}
.link{
    padding-left: 32px;
    width: 200px;
    height: 200px;
}
.link img{
    height: 200px;
    width: 200px;
}
.Footer{
    background-color: #fff;
    border-radius: 20px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}
.Footer a{
    font-size: 16px;
}
.other-contact{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    right: 74px;
}
.other-contact a{
    /* font-family: "Font Awesome 6 Free"; */

    font-size: 16px !important;
}
.email-add{
    font-size: 16px;
}
.up{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00abdf;
    border-radius: 50%;
}
.up i{
    width: 50px;height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left{

}
.footer-links{
    display: flex;
    flex-direction: column;

}
.get-in-touch-item{
    display: flex;
    flex-direction: column;
}
.color-click{
    background-color: #71d9ff;
}
.display-none{
    display: none;
}
.Contact-fb:hover{
    background-color: #71d9ff;
    cursor: pointer;
}
.Contact-email:hover{
    background-color: #71d9ff;
    cursor: pointer;
}
.Contact-Zalo:hover{
    background-color: #71d9ff;
    cursor: pointer;
}
.view:hover{
    cursor: pointer;

}

@media screen and (max-width:46.1875em){
    .myCv{
        width: 1008px;
        padding: 0 8px 16px 8px;
        background-color: #cdf1ff;
        /* height: 3477px; */
        /* height: 2000px; */
        /* border: 1px solid #000; */
    
    }
    .banner{
    }
    #introduction{
        flex-direction:column-reverse;
        align-items: center;

    }
    .left-intro{
        border-right: 0;
    }
    .left-intro img{
        border-bottom-left-radius: 0;
    }
    .right-intro{
        display: flex;
        justify-content: center;
    }
    .project{
        flex-direction: column;
    }
    #Contact-information{
        display: flex;
        flex-direction: column;
    }
    .info a{
        width: 300px;
    }
    .Footer{
        padding: 32px 32px 32px 32px;
    }
    .project{
        /* width: 338.88px; */
    }
    #Projects{
        display: flex;
        flex-direction: column;
        min-width: 300px!important;
        
        /* 
        width: 100%; */
    }
    .pj-a{

    }
    .boxContact{
        width: 350px;
    }
    .other-contact{
        position: unset;
        padding-left: 32px;
        padding-top: 0;
        width: 350px;
    }
    .link{
        height: 232px;
        padding: 16px 0;
        padding-left: 32px;
    }
    .user{
        display: none;
    }

    .img-user img{
        width: 90vw;
        height: 90vw;
    }

}
@media screen and (max-width:31.25em){
    .myCv{
        /* height: 3392px; */
    }
    .nav{
        display: none;
    }

    .Footer{
        display: flex;
        flex-direction: column;
        height: auto;
        min-width: 100px;
    }
    .Footer a,
    .Footer span,
    .Footer i{
        font-size: 16px;
    }
    .Footer span{
        font-weight: 500;
        padding-top: 32px;
        text-decoration: underline;
    }
    .footer-left,
    .footer-right,
    .get-in-touch{
        width: 200px;

    }
    .footer-links{
        padding-left: 16px;
    }
    .get-in-touch-item{
        padding-left: 16px;
    }
    #Projects{
        padding: 16px;
    }
    .project{
        padding: 16px;
    }
    .project .view-pj img{
        margin: 0;
    }
    .project .view-pj{
        width: 316.88px;
    }
    .pj-a{
        width: 318px;
    }
    #Contact-information{
        padding: 16px;
    }
    .typeOfContact{
        padding-left: 16px;
    }
    .other-contact{
        padding-left: 16px;
    }
    .link{
        padding-left: 16px;
    }
    .right-intro .name a{
        padding-left: 16px;
    }
    .user-name{
        padding-left: 32px;
    }
    .achievement{
        padding-left: 16px;
    }
}
